#home-section{
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(5,150,92,0.5494572829131652) 89%, rgba(0,212,255,1) 100%);
    padding-top: 50px;
}
#home-section{
    height: 100vh;
}
body{
    overflow-x: hidden;
}